.articleGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    width: 100%;
    padding: 0;
}

.feedItem {
    position: relative;
    text-align: left;
    width: 100%;
}

.feedItemImg {
    border: var(--test-border);
    width: 100%;
}

.feedItemCategory {
    font-family: var(--font-fam-oswald);
    margin-bottom: var(--spacer-half);
}

.feedItemHeadline{
    font-family: var(--font-fam-serif);
    font-size: var(--font-size-xxl);
    margin-bottom: var(--spacer-half);
}

.feedItemDescription{
    font-family: var(--font-fam-serif);
    font-size: var(--font-size-reg);
    margin-bottom: var(--spacer-reg);
}

.feedItemByline{
    font-family: var(--font-fam-oswald);
}