@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@300;400;600&display=swap');

/* ##### VARS ##### */
body {
  --testing-border: solid 1px rgb(255, 87, 51);

  --font-fam-oswald: 'Oswald', sans-serif;
  --font-fam-serif: 'Libre Caslon', serif;
  --font-fam-typewriter: 'Courier Prime', monospace;
  --font-weight-bold: 700;

  --font-size-reg: 1.0rem;
  --font-size-lg: 1.125rem; 
  --font-size-xl: 1.375rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2.0rem;
  --font-size-xxxxl: 2.5rem;
  
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


a {
  color: inherit;
  text-decoration: none;
}
